إستخدم البنية السابقة بدون التعديل عليها لعمل الشكل المطلوب
طول العنصر وعرضه هو 200px
قم بتوسيط العنصر في الصفحة بطريقة طولية وعرضية بدون إستخدام
Flex
قم بعمل الشكل بنفس الالوان
يمكنك توسيط النص داخل العنصر باي طريقة تعجبك