قم بعمل Class بإسم arrow ومعه Classes تخص جميع الإتجاهات top, right, bottom, left
تأكد أن كل Class خاص بإتجاه معين يظهر السهم في نفس الإتجاه
تأكد أن Class الإتجاه لا يعمل إلا في وجود Class المسمى arrow
تأكد أن السهم دائما في المنتصف بغض النظر عن طول وعرض العنصر