:root {
  --main-color: #ff5722;
  --main-text-color: white;
}

h1 {
  width: 150px;
  margin: 70px auto;
  background-color: var(--main-color);
  color: var(--main-text-color);
  padding: 20px 0px;
  text-align: center;
  position: relative;
  font-size: 40px;
}

h1::before,
h1::after {
  content: "";
  background-color: var(--main-color);
  position: absolute;
  width: 150px;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
}

h1::before {
  transform: skew(10deg, 10deg);
}

h1::after {
  transform: skew(-10deg, -10deg);
}
