* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: large;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 70px auto;
  justify-content: space-between;
  align-content: space-between;
  display: grid;
  grid-template-columns: repeat(9, 9%);
  grid-template-rows: repeat(5, 10%);
}

.grid div {
  background-color: #2196f3;
  text-align: center;
  padding: 20px;
}

.one, .eight {
  grid-column: span 9;
}

.two {
  grid-column: span 6;
}

.three {
  grid-column: span 3;
}

.four, .six, .seven {
  grid-column: span 3;
}

.five {
  grid-column: span 6;
  grid-row: span 3;
  line-height: 120px;
}

.eight {
  order: -1;
}

.one {
  order: 1;
}

.one, .two, .three, .four, .six, .seven, .eight {
  line-height: 2px;
}
