إستخدم البنية السابقة بدون التعديل عليها لعمل الشكل المطلوب
تنسيقات ال CSS لتوضيح أبعاد العنصر الأب
قم بتوسيط العنصر في الصفحة بطريقة عرضية
قم بعمل الشكل بنفس الالوان
إستخدم ال Grid لعمل الشكل الأساسي