إستخدم البنية السابقة بدون التعديل عليها لعمل الشكل المطلوب
قم بعمل الشكل بنفس الالوان
إستخدم ال Grid لعمل الشكل الأساسي
يجب كتابة الكلمات الموجودة داخل العنصر بواسطة ال CSS
يجب عليك أن تملا الصفحة بالتصميم ليكون Full Screen