لديك ثلاثة حقول إدخال عرض كل واحد فيهم 600px
قم بعمل الشكل التالي كما هو مع التأكد ان الحقول موسطة في الشاشة بطريقة عرضية
يجب عليك إستخدام نفس الالوان الموجودة في الشكل كلها
لاحظ لون مؤشر الكتابة أحمر
يجب عدم إستخدام ال Box Shadow
