إستخدم البنية السابقة بدون التعديل عليها لعمل الشكل المطلوب
عرض العنصر وطوله هو 200px
قم بتوسيط العنصر في الصفحة بطريقة طولية وعرضية
قم بعمل الشكل بنفس الالوان
قم بعمل الشكل مرة بطريقة عرضية ومرة بطريقة طولية