إستخدم البنية السابقة بدون التعديل عليها لعمل الشكل المطلوب
عرض العنصر هو 300px وطوله هو 200px
قم بتوسيط العنصر في الصفحة بطريقة عرضية
قم بعمل الشكل بنفس الالوان
يمكنك توسيط النص داخل العنصر باي طريقة تعجبك