قم بعمل الشكل المطلوب التالي بواسطة ال CSS Grid والشكل عبارة عن عرض لأعضاء الفريق ومعلومات عنهم

المطلوب
عمل نفس الشكل مع إمكانية وضع أي بيانات تريدها
يجب عليك عمل نفس الالوان

التحديات
يجب عليك إستخدام ال CSS Grid فقط في توزيع العناصر
يجب عدم إستخدام ال Margin نهائيا بين العناصر
يجب عدم إستخدام خواص العرض والطول نهائيا [ Width, Height, Flex-Basis ]